body {
    font-family: 'League Spartan', Arial, sans-serif;
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
    color: #000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .icon1 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    left: -5px;
  }
  
  .logo-circle {
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb);
    color: rgb(17, 17, 17);
    border-radius: 50%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  nav a:active {
    text-decoration: underline;
    color: burlywood;
  }
  
  .search-bar input {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px;
    font-size: 14px;
  }
.menu-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.menu-item {
    background: #fff;
    border: 2px solid #050505;
    border-radius: 80px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
    max-width: 2000px;
    aspect-ratio: 2000 / 400;
    box-sizing: border-box;
    position: relative;
}

.menu-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.menu-content h3 {
    margin: 0;
    font-size: 24px;
}

.menu-content p {
    margin: 5px 0 0;
    font-size: 16px;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

#menuDetails {
    padding: 20px;
}

#menuDetails button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#menuDetailsContent {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 20px;
}

.footer {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
